@font-face {
  font-family: Helvetica;
  src: url("/app/themes/sage_theme/resources/assets/fonts/HelveticaNeueCyr-Thin.woff");
}
@font-face{font-family:SF;src:local("SF UI Text Regular"),local("SFUIText-Regular"),url(/app/themes/sage_theme/resources/assets/fonts/SFUIText-Regular.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:SF;src:local("SF UI Text Semibold"),local("SFUIText-Semibold"),url(/app/themes/sage_theme/resources/assets/fonts/SFUIText-Semibold.woff) format("woff");font-weight:600;font-style:normal}
@font-face{font-family:SF;src:local("SF UI Text Bold"),local("SFUIText-Bold"),url(/app/themes/sage_theme/resources/assets/fonts/SFUIText-Bold.woff) format("woff");font-weight:700;font-style:normal}
