@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "common/fonts";

* {
  font-family: SF,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container {
  overflow: hidden;
  width: 1200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width:1200px){
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
