.form {
  &__single-col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    margin-bottom: 15px;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__double-col {
    flex-basis: 49.5%;
    @media screen and (max-width: 767px) {
      flex-basis: 100%;
    }
  }
  &__double-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__textarea {
    padding-bottom: 15px;
    & .form__input-container {
      height: 100%;
    }
  }
  & .question-form input, .question-form textarea {
    background: linear-gradient(90deg,rgba(238,242,247,0),rgba(238,242,247,.65) 50%,#eef2f7);
    background-color: #eef2f7;
    color: #333;
    font-size: 17px;
    font-family: SF,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: text;
    will-change: opacity;
    padding: 34px 6px 11px 17px;
    border-radius: 6px;
    outline: none;
    -webkit-appearance: none;
    border-width: 0;
    line-height: 1px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  & .question-form textarea {
    resize: none;
  }
  &__label {
    color: #9299a2;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    font-size: 15px;
    line-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    top: 10px;
    left: 17px;
    z-index: 1;
    font-family: SF,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__privacy {
    color: #666;
    font-size: 14px;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: right;
    &_link {
      color: #666;
      text-decoration: underline;
    }
  }
}
.singlerow_privacy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  & .submit {
    outline: none;
    background-color: #ecf1f7;
    color: #1771e6;
    opacity: 1;
    border-width: 0;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
      background-color: #e4ebf3;
    }
  }
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}
.notification {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    background: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 13px rgb(255, 255, 255);
  }
}
